$sproutgreen: #678a02;
$darkgreen: #2c3c00;
$lightestgreen: #fbfff7;
$accentbright: #ed3f00;
$accentdark: #121c00;
$accentmedium: #1C2B00;
$accentlight: #C9FF2E;
$mediumgreen: #414f00;
$applegreen: #94ac01;
$springgreen: #f8ffe6;
$accentcoral: #FF764D;
$mediumlightgreen: #E2F08D;
$accentyellow: #FFBF00;